/* General*/

.All {
	background: hsl(210, 46%, 95%);
	display: block;
	min-height: 100vh;
	height: auto;
	min-width: 100%;
	width: auto;
}

.mom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.containers {
	border-radius: 15px;
	padding: 1.5em;
	font-family: 'Fredoka', sans-serif;
	box-shadow: 0 0 20px #999;
}

.second-container {
	font-size: 1.2em;
	font-weight: 600;
	margin: 0.85em 0;
}

.white-color {
	color: #fff;
}

.gray-color {
	color: #aaa;
}

.third-container {
	font-size: 0.85em;
	color: #eee;
	opacity: 0.7;
}

.third-container_1{
	color: #999;
	opacity: 0.9;
}

.name {
	font-size: 0.90em;
}

.verified {
	font-size: 0.80em;
	opacity: 50%;
}

.first-container {
	display: flex;
}

.container_img-daniel {
	width: 3em;
	height: 3em;
	background: url("../images/image-daniel.jpg");
	background-size: cover;
	border-radius: 50%;
	border: 3px solid #fff8;
}

.container_name {
	margin-left: 1.1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container_img-jonathan {
	width: 3em;
	height: 3em;
	background: url("../images/image-jonathan.jpg");
	background-size: cover;
	border-radius: 50%;
	border: 3px solid #fff8;
}

.container_img-kira {
	width: 3em;
	height: 3em;
	background: url("../images/image-kira.jpg");
	background-size: cover;
	border-radius: 50%;
	border: 3px solid #fff8;
}

.container_img-jeanette {
	width: 3em;
	height: 3em;
	background: url("../images/image-jeanette.jpg");
	background-size: cover;
	border-radius: 50%;
	border: 3px solid #fff8;
}

.container_img-patrick {
	width: 3em;
	height: 3em;
	background: url("../images/image-patrick.jpg");
	background-size: cover;
	border-radius: 50%;
	border: 3px solid #fff8;
}